div.dashboard{
    
    display: inline-block;
    clear: both;
    width:710px;
    height:auto;
    background-image:url("../img/graph.jpg");
    padding: 10px;
}

div.gap_top{
    display: block;
    clear: both;
    width:710px;
    height:53px;
    background-color: purple;  
    padding: 10px;
}

.admin_panel{
    
    display:block;
    clear:both;
}
div.each_task{
    display: block;
    clear: both;
    width:710px;
    height:53px;
     padding: 10px;
}

div.div_name{
    display: inline-block;
    clear: left;
    width:400px;
    height:28px;
    background: #2c3e50; /* old browsers */
    background: -moz-linear-gradient(top, #2c3e50 0%, #3d3b39 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%,#2d6b2b), color-stop(2%,#c2d2ed)); /* webkit */
    /*background-image: linear-gradient(#2c3e50, #2c3e50);*/
   -webkit-box-shadow: 10px 1px 8px 1px rgba(46,40,40,1.5);
    float: left;
    padding: 10px;
    padding-left:15px;
    color:#444;
    font-size: 22px;
    font-weight: bold;
    border-bottom: solid 1px #444;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

div#button_wrapper{    
    display: inline-block;
    clear: both;
    background: #2c3e50; /* old browsers */
    background: -moz-linear-gradient(top, #2c3e50 0%, #3d3b39 100%); /* firefox */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(75%,#2d6b2b), color-stop(2%,#c2d2ed)); /* webkit */
    /*background-image: linear-gradient(#2c3e50, #2c3e50);*/
     height:30px;
     width: 250px;
     padding: 9px;
    border-bottom: solid 1px #444;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 10px 1px 8px 1px rgba(46,40,40,1.5);
}


form.task_form{

    padding-left: 5px;
    padding-right: 5px;
}


#create_task_show.slidingDiv{
    
    width: 80%;
    height:515px;
    background-color: #4a4646;
    display: block;
     -webkit-box-shadow: 20px 15px 10px 1px rgba(108,106,95,0.5);
    font-size: 20px;
    border-bottom: 2px #444 inset;
    border-top: 1px #444 inset;
    padding: 5px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#create_template_show.slidingDiv{
    
    width: 80%;
    height:515px;
    background-color: #4a4646;
    display: block;
     -webkit-box-shadow: 20px 15px 10px 1px rgba(108,106,95,0.5);
    font-size: 20px;
    border-bottom: 2px #444 inset;
    border-top: 1px #444 inset;
    padding: 5px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}
